* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", serif;
  overflow: hidden;
}

main .calculator-section li button {
  width: 25%;
  height: 60px;
  color: #272727;
  font-weight: bolder;
  padding: 1rem 1rem;
  font-size: 1.3rem;
  outline: none;
  border: none;
  border: 2px solid #fff;
}

header {
  background-color: black;
  width: 100%;
  border-bottom: 5px solid orange;
}
header .navbar {
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
}

.header-title {
  width: 100%;
  max-width: 320px;
}
.header-title h1 {
  font-size: 2.4rem;
  color: #fff;
  line-height: 80px;
  text-align: center;
}
.header-title h1 span {
  color: orange;
}

li {
  padding: 0 0.5rem;
  line-height: 80px;
}
li .nav-item-link {
  font-size: 1.2rem;
  color: #fff;
  text-decoration: none;
}

.quote-section p, .home-section .paragraph p {
  font-size: 1rem;
  padding: 0.3rem 0;
  line-height: 1.4;
}

.home-section {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 1.2rem;
}
.home-section .paragraph {
  padding: 1rem 0;
}
.home-section button {
  color: #fff;
  border: none;
  outline: none;
  border-radius: 8px;
  background-color: orange;
  padding: 8px 16px;
  float: right;
  margin-right: 3rem;
  font-size: 1.2rem;
}

.quote-section {
  padding: 4rem 2rem;
}
body {
  width: 100%;
  height: 100%;
  background-color: #f9f9f9;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 2.2rem;
}
h2 span {
  color: orange;
}

main {
  width: 100%;
}
main .section {
  height: 100vh;
  justify-content: space-around;
  align-items: flex-start;
  padding: 3rem 1rem 0;
}
main .section h2 {
  width: 30%;
}
main .calculator-section {
  max-width: 500px;
  width: 70%;
  border: 1px solid #272727;
}
main .calculator-section .input {
  width: 100%;
  flex: 1;
  justify-content: flex-end;
  padding: 1.2rem;
  border: none;
  outline: none;
  font-size: 1.5rem;
  background-color: #bbb;
  color: #fff;
  text-align: end;
}
main .calculator-section .input:hover {
  cursor: pointer;
}
main .calculator-section ul {
  list-style: none;
  min-width: 100%;
  border: none;
  outline: none;
}
main .calculator-section li {
  width: 100%;
  flex: 1;
  background-color: aqua;
}
main .calculator-section li button:last-child {
  background-color: orange;
}
main .calculator-section li button:hover {
  cursor: pointer;
  background-color: rgba(185, 185, 185, 0.658);
  transition: all 0.4s ease-in-out;
}
main .calculator-section li:last-child button:first-child {
  width: 50%;
}

@media screen and (min-width: 540px) {
  main .calculator-section {
    width: 50%;
  }
  main li .btn {
    height: 70px;
  }

  .home-section {
    width: 85%;
    max-width: 992px;
    margin: 0 auto;
  }
  .home-section h2 {
    font-size: 2.4rem;
    padding: 1rem 0;
  }
}
@media screen and (min-width: 768px) {
  main li .btn {
    height: 70px;
  }

  header .navbar {
    justify-content: space-between;
    padding: 0 10%;
  }

  .header-title h1 {
    font-size: 2.7rem;
  }

  li .nav-item-link {
    font-size: 1.3rem;
  }
}

/*# sourceMappingURL=App.css.map */
