* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", serif;
}

main li button {
  width: 25%;
  height: 60px;
  color: #272727;
  font-weight: bolder;
  padding: 1rem 1rem;
  font-size: 1.3rem;
  outline: none;
  border: none;
  border: 3px solid #fff;
}

body {
  width: 100%;
  height: 100%;
  background-color: #f9f9f9;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 500px;
  width: 80%;
  border: 1px solid #272727;
}

main ul {
  list-style: none;
  width: 100%;
}

main li {
  width: 100%;
}

main li input {
  width: 100%;
  flex: 1;
  padding: 1.2rem 1rem;
  border: none;
  outline: none;
  font-size: 1.5rem;
  background-color: #bbb;
  color: #fff;
  text-align: end;
}

main li input:hover {
  cursor: pointer;
}

main li button:last-child {
  background-color: orange;
}

main li button:hover {
  cursor: pointer;
  background-color: rgba(185, 185, 185, 0.658);
  transition: all 0.4s ease-in-out;
}

main li:last-child button:first-child {
  width: 50%;
}

@media screen and (min-width: 540px) {
  main li .btn {
    height: 70px;
  }
}
