$text-color: #272727;
$primary-color: #fff;
$secondary-color: orange;
$background-color: rgba(221, 219, 219, 0.952);
$font-stack: 'Montserrat', serif;
$border: 3px solid $primary-color;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Quantico', cursive;
  // font-family: 'Henny Penny', cursive;
}

%btn-properties {
  width: 25%;
  height: 60px;
  color: $text-color;
  font-weight: bolder;
  padding: 1rem 1rem;
  outline: none;
  border: none;
  border: $border;
}

%parag {
  font-size: 1.2rem;
  padding: 0.3rem 0;
  line-height: 1.4;
  color: $text-color;
}
