.second-title {
  font-size: 2.4rem;
  line-height: 3rem;
  color: $text-color;

  span {
    color: $secondary-color;
  }
}

section.home-section {
  width: 100%;
  height: 100vh;

  .paragraph {
    padding: 1rem 0;

    p {
      @extend %parag;
      font-size: 1.4rem;
    }
  }

  .show {
    display: none;
  }

  .btn-more {
    color: $primary-color;
    border: none;
    outline: none;
    border-radius: 8px;
    background-color: $secondary-color;
    padding: 8px 16px;
    float: right;
    margin-right: 3rem;
    font-size: 1.2rem;
    transition: all 0.5s ease;

    &:hover {
      color: $secondary-color;
      background-color: black;
    }
  }
}
