@media screen and (min-width: 540px) {
  %p {
    font-size: 1.2rem;
  }

  h1 {
    font-size: 2.4rem;
    line-height: 80px;
  }

  .nav-item {
    padding: 1rem 0.5rem;
  }

  main {
    .section {
      flex-direction: row;
      align-items: flex-start;
      padding-top: 2rem;

      h2 {
        width: 40%;
        padding-right: 2rem;
      }
    }

    .calculator-section {
      width: 50%;
      margin-right: 2rem;
    }

    .keyItem {
      .btn {
        height: 70px;
      }
    }

    .home-section {
      width: 85%;
      max-width: 992px;
      margin: 0 auto;

      h2 {
        font-size: 2.4rem;
      }

      .show {
        display: block;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  header {
    .header-title {
      width: 100%;
      max-width: 380px;

      h1 {
        font-size: 2.7rem;
      }
    }

    .navbar {
      justify-content: space-between;
      padding: 0 5%;
    }

    .nav-item {
      padding-left: 1.6rem;
    }
  }

  .nav-item-link {
    font-size: 1.2rem !important;
  }

  main {
    .home-section {
      h2 {
        font-size: 2.6rem;
        line-height: 3rem;
        padding: 1rem 0;
      }

      .paragraph {
        p {
          font-size: 1.2rem;
          padding: 0.2rem 0;
          line-height: 1.4;
          color: $text-color;
        }
      }
    }

    .keyItem {
      .btn {
        height: 70px;
      }
    }
  }

  li {
    .nav-item-link {
      font-size: 1.3rem;
    }
  }

  // .show {
  //   display: block !important;
  // }
}
