@media screen and (min-width: 540px) {
  main {
    li {
      .btn {
        height: 70px;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  main {
    li {
      .btn {
        height: 70px;
      }
    }
  }

  .header-title {

    h1 {
      font-size: 2.7rem;
    }
  }
  
  li{  
    .nav-item-link {
      font-size: 1.3rem;  
    }
  }
  

}
