@import 'config';
@import 'nav';
@import 'home';

.h2 {
  font-size: 2.2rem;
  color: $text-color;

  span {
    color: $secondary-color;
  }
}

body {
  width: 100%;
  background-color: #f9f9f9;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to top, rgba(133, 133, 252, 0.18), rgb(125, 120, 136)), url("../img/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 1.2rem;

  .section {
    height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 1rem;
    text-align: center;

    h2 {
      font-size: 2rem;
      font-family: 'Henny Penny', cursive;
      letter-spacing: 4px;
      margin-bottom: 1rem;
    }
  }

  .calculator-section {
    max-width: 500px;
    border: 1px solid $text-color;

    .input {
      width: 100%;
      flex: 1;
      justify-content: flex-end;
      padding: 1rem;
      border: none;
      outline: none;
      font-size: 1.5rem;
      background-color: #bbb;
      color: #fff;
      text-align: end;

      &:hover {
        cursor: pointer;
      }
    }

    ul {
      list-style: none;
      width: 100%;
      border: none;
      outline: none;
    }

    .keyItem {
      width: 100%;
      // flex: 1;

      button {
        width: 25%;
        height: 60px;
        color: $text-color;
        font-weight: bolder;
        padding: 1rem 1rem;
        outline: none;
        border: none;
        border: $border;
        font-size: 1.2rem;

        &:last-child {
          background-color: $secondary-color;
        }

        &:hover {
          cursor: pointer;
          background-color: rgba(185, 185, 185, 0.658);
          transition: all 0.4s ease-in-out;
        }
      }

      &:last-child button:first-child {
        // flex-grow: 2;
        width: 50%;
      }
    }
  }
}

@import 'responsive';
