header {
  background-color: black;
  width: 100%;
  border-bottom: 5px solid $secondary-color;

  .navbar {
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .header-title {
    width: 100%;
    max-width: 300px;
  }
}

h1 {
  font-size: 2.2rem;
  color: $primary-color;
  line-height: 80px;
  text-align: center;
  font-family: 'Henny Penny', cursive;

  span {
    color: $secondary-color;
    font-family: 'Henny Penny', cursive;
  }
}

.nav-item {
  padding: 0.5rem 0.5rem 1rem;

  .nav-item-link {
    font-size: 1.1rem;
    color: $primary-color;
    text-decoration: none;
    transition: all 0.5s ease;

    &:hover {
      color: $secondary-color;
    }
  }
}
